:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  }

body{
    background: var(--backgrond);
}

.img-top{
    position: absolute;
    right: 0;
    z-index: -1;
    top: -100px;
}

.img-bottom{
    position: absolute;
    bottom:-115px;
    z-index: -1;
    left: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    margin-left: 60px;
}

.menu h3{
    display: none;
}

.menu ul{
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    gap: 33px;
}

.menu a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    border-left: 2px solid transparent;
    padding-left: 5px;
    transition: 0.2s ease;
    
}

.menu a:hover{
  border-color: var(--button);
}

.menu button{
    width: 172px;
    height: 37px;
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 6px;
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 11px;
}

.menu button:hover{
    background-color: var(--button);
    cursor: pointer;
    transition: 0.2s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

main h1{
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

main h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
.blur-mobile{
    position: absolute;
    bottom: -55%;
    display: none;
    z-index: -1;
    width: 100%;
}

.coffee{
    height: 60vh;
}

.header-mobile{
    display: none;
    
}

.menu-mobile-open{
    display: none;
   
}

.menu-mobile-open-clicked{
        display: block;
        width: 45px;
        height: 45px;
        background: url(./assets/menu-buguer-close.svg) no-repeat center;
        border:none
}

.menu-mobile-open ul a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-menu-mobile);
}

.menu-mobile-open ul a:active{
    color: var(--text-color);
}

.menu-mobile-open ul li{
    padding: 14px 29px;
    border-bottom: 1px solid var(--border);
    border-left: 5px solid transparent;
    list-style: none;
   
}

.menu-mobile-open ul li:active{
    cursor: pointer;
    border-left: 5px solid var(--button);
    
    
}

@media(max-width:425px){
    body{
        height: 100vh;
    }
    .img-bottom{
       display: none;
    }
    .img-top{
        display: none;
    }

    .blur-mobile{
        display: block;
        bottom: -501px;
    }

    header{
        flex-wrap: wrap;
    }

    .menu{
        margin: auto; 
    }
    .menu h3{
        display: block;
        margin-top: 89px;
    }
    .menu button{
        width: 175px;
        height: 35px;
        margin-top: 88px;
    }
    main{
        margin: auto;
    }
    main img{
      position: absolute;
      bottom: -500px;
      
      width: 300px;
      height: 200px;
       
    }
    main h1{
        font-size: 50px;
        margin-top: 98px;
    }
    main h2{
        font-size: 50px;
    }
    .menu ul{
        display: none;
    }
    .logo{
        display: none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
        padding: 25px;
        border-bottom: 1px solid var(--border-menu-mobile);

    }
    .menu-mobile{
        display: block;
        width: 45px;
        height: 45px;
        background: url(./assets/menu-buguer-open.svg) no-repeat center;
        border:none;
        transition: 0.2s;
    }
    .menu-mobile-open{
        display: block;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 97px;
        right: -100%;
        background-color: var(--backgrond);
        transition: right 0.3s ease;
    }
}

h3{
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    font-size:30px;
    text-align: center;
}